@import '../../../../assets/themes/_colors'

.home-container
    background-color: $blueSix //#acacac// #2b16a0
    height: 100vh
    font-family: 'Spiegel'
    font-weight: bold   

    //background-image: url("/assets/images/rvi.jpg")

.home-folder
    background-color: $blueFour// #1A1825//
    border-radius: 20px
    padding: 1.5rem
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    color: $hextechBlack

.home-start
    margin: 1rem 3rem 0
    display: flex
    flex-direction: row-reverse
    a
        background-color: $goldFour
    
