
<!-- <div class="grid" >
    <div>
        id
    </div>
    <div>nome</div>
    <div>remover</div>
<ng-container *ngFor="let team of teams" >
    <div>{{team.id}}</div>
    <div>{{team.name}}</div>
    <app-button [svgName]="'delete'" [buttonClass]="'delete-teams-button'" [svgClass]="'half-svg'" (buttonAction)="onDeleteTeam(team)"></app-button>
</ng-container>
</div> -->

<table class="team-table" >
    <thead>
        <tr>
            <th class="p-1" >Id</th>
            <th class="p-1" >Nome</th>
            <th style="width: 70px;" class="p-1" >Líder</th>
            <th  style="width: 70px;" class="p-1" >Remover</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams">
            <td class="p-1" >{{team.id}}</td>
            <td class="p-1" >{{team.name}}</td>
            <td style="width: 70px;" class="p-1 text-center" ><img style="width: 30px;height: 30px;vertical-align: middle;" src="{{team.capUrl}}"></td>
            <td style="width: 70px;" class="p-1 text-center align-middle" > <app-button [svgName]="'delete'" [buttonClass]="'delete-teams-button'" [svgColor]="'#1E282D'" [svgClass]="'half-svg'" (buttonAction)="onDeleteTeam(team)"></app-button></td>
        </tr>
    </tbody>
</table>