<div class="bracket-display">
    <ul class="bracket-column">
        <li
            class="bracket-field"
            *ngFor="let team of electedTeams; let i = index"
        >
            <app-bracket-tile
                (selectedTeam)="onSemiFinalistSelect($event)"
                [team]="team"
                [index]="i"
                [dinamicClass]="chosen[i] ? 'normal' : 'eliminated'"
            />
        </li>
    </ul>
    <ul class="bracket-column">
        <li
            class="bracket-field-empty"
            *ngFor="let item of electedTeams; let i = index"
        >
            <div class="upper" style="height: 50%"></div>
            <div class="lower" style="height: 50%"></div>
        </li>
    </ul>

    <ul class="bracket-column">
        <li
            class="bracket-field"
            *ngFor="let item of semiFinalists | keyvalue; let i = index"
        >
            <app-bracket-tile
                [team]="item.value"
                (selectedTeam)="onFinalistSelect($event)"
                [index]="i"
            />
        </li>
    </ul>

    <ul class="bracket-column">
        <li class="bracket-field-empty" *ngFor="let item of lengthTre">
            <div class="upper" style="height: 25%"></div>
            <div style="height: 50%"></div>
            <div class="lower" style="height: 25%"></div>
        </li>
    </ul>

    <ul class="bracket-column">
        <li
            class="bracket-field"
            *ngFor="let item of finalists | keyvalue; let i = index"
        >
            <div class="bracket-filler-div">
                <app-bracket-tile
                    [team]="item.value"
                    (selectedTeam)="onChampionsSelect($event)"
                    [index]="i"
                />
            </div>
        </li>
    </ul>

    <ul class="bracket-column">
        <li class="bracket-field-empty" *ngFor="let item of lengthFour">
            <div class="upper" style="height: 50%"></div>
            <div class="lower" style="height: 50%"></div>
        </li>
    </ul>

    <ul class="bracket-column">
        <li class="bracket-field">
            <div class="bracket-filler-div">
                <app-bracket-tile [team]="champion" />
            </div>
        </li>
    </ul>
</div>
